body{
    font-family: Tahoma;

}
a:-webkit-any-link {
    color: inherit;
    cursor: auto;
    text-decoration: none;
}
a:hover {
    color: #809c13
}
.brand{
    font-size:60px;
    display: inline-block;
    font-family:Lucida Console;


}
.container{
    margin: 20px;
    padding: 20px ;
    position: relative;
    max-width: 2600px;
    min-height: 74.53%;
}
.main-header{
    padding: 0 2.4rem;
}
/*=====================================================================================================*/
/* CSS for learning page */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
.show1{
    display:block;
}

.overlay-panel {
    position: relative;
    background-color: #fff;
    margin: 5% 35%;
    height: auto;   
    display: block;
}

.other-component{
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay-detail{
    margin: 20px;
    border: 1px;
    height: 200px;
    background-color: beige;
}
.overlay-detail a img{
    float: left;
    width: 40%;
    padding:10px
}

.overlay-description{
    width: 60%; 
    float: right; 
    padding:10px;
}
.overlay-description h3{
    width: 60%; 

}
.overlay-description h4{
    margin-left: 20px;
}
.buy-button{
    color: #000;
    background-color: #fff;
    border-color: #b5e550;
    width: 200px;
    margin-right: 10px;
}
.buy-button:hover{
    color: #000;
    background-color: #ced4da;
    border-color: #fff;
}
.cart-button{
    color: #fff;
    background-color: #b5e550;
    border-color: #fff;
    width: 200px;
}
.cart-button:hover{
    color: #fff;
    background-color: #809c13;
    border-color: #fff;
}
.cart-button-added{
    margin-left: 38%;
    height: 60px;
    width: 180px;
    color: #fff;
    background-color: #c377f6;
    border-color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
}

img {
    width: 100%;
}
 
.height {
    height: 10px;
}
 

.image-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    max-height: 600px;
}
 
.slider-next {
    right: 0;
}
 
/* Next and previous icon design */
.slider-previous,
.slider-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -25px;
}
 
/* caption decorate */
.captionText {
    color: #000000;
    font-size: 14px;
    position: absolute;
    padding: 12px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
 
/* Slider image number */
.slideNumber {
    background-color: #5574C5;
    color: white;
    border-radius: 25px;
    right: 0;
    opacity: .5;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
}
 

i.custom-icon{
    font-size:20px
}
.footerdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
 
.active,
.footerdot:hover {
    background-color: black;
}
h2{
    font-size: 30px;
}
p{
    font-size: 15px;
}
h3{
    font-size: 24px;
}
#learning-panel{
    margin: 10px 50px;
    background-color: #f2fff4;
    border: 1px;
    border-style: solid;
    border-color: #a9c0a5;
}
.wrapper{
    box-sizing: border-box;
    outline: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search_wrap .search_item{
    margin-right: 20px;
    width: 400px;
    max-width: 100%;
    height: 45px;
    position: relative;
  }
  

  .search_wrap .search_item .input_search{
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 25px;
    padding: 12px 25px 12px 55px;
  }
  
  .search_wrap .search_item.input_search{
    padding: 12px 55px 12px 25px;
  }
  
  .search_wrap .search_item .icon{
    position: absolute;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
  }
  
  
  .search_wrap .search_item .icon
  {
    top: 4px;
    width: 37px;
    height: 37px;
    background-color: #809c13;
    border-radius: 50%;
  }
  
  
  .search_wrap .search_item .icon{
    right: 5px;
  }





  table{
    width:100%;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
   
}

.cart-notification-container { /* Giả sử đây là thẻ cha */
    overflow: hidden;
    margin: -20px 0 -20px 0;
  }

.cart-notification{
    z-index: 20;
    /*position: absolute;*/
    margin-left:70%;
    top: 100px;
    right:30px;
    border-radius: 12px;
    background:#fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #f94449;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.cart-notification.active{
    transform: translateX(0%);
}
.cart-notification.cart-notification-content{
    display: flex;
    align-items: center;
}
.cart-notification-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #f94449;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}
.cart-notification-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    font-family: 'Poppins','sans-serif';
}
.message .text{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}

.cart-notification .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.cart-notification .close:hover{
    opacity: 1;
}
.cart-notification .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #333;
}
.cart-notification .progress:before{    
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #f94449;
}
.progress.active:before{
    animation: progress 5s linear forwards;
    }
    @keyframes progress {
    100%{
    right: 100%;
    }
}
input.valid {
    border: 1px solid green;
  }
  
  input.invalid {
    border: 1px solid red;
  }
  
  input.invalid + .error-message {
    display: flex;
  }
  
  .error-message {
    display: none;
  }
  input.invalid-blank {
    border: 1px solid red;
  }
  input.invalid-blank + .blank-message {
    display: flex;
  }
  
  .blank-message {
    display: none;
  }
  .blank-message {
    display: none;
    align-items: center;
    color: #b32d0f;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: .4rem;
  }
  .error-message {
    display: none;
    align-items: center;
    color: #b32d0f;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: .4rem;
  }
  .h4{
    font-size: 20px;
  }
  .subnav{
    z-index: 20;
    height: 0;
    top: 75px;
    left: 306px;
    width: 200px;
    padding-left: 0px;
    position: absolute;
    background-color: #ededed;
    list-style-type: none;
    opacity: 0;
    transition: all .5s ease;
  }
  .subnav > li >a {
    padding: 5px 5px 5px 15px;
    color: #809c13;
    display:block;

  }
  .subnav > li:hover >a {
    background-color: #dfe6da;
    color: #fff;
    
  }
  
.input-profile-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
  }
  
  
  
  .input-profile-field:focus {
    padding-bottom: 6px;  
    border-width: 3px;
    border-image: linear-gradient(to right, #fff,#93C74D);
    border-image-slice: 1;
    color: #000;
  }
  /* reset input */
  .input-profile-field{
    &:required,&:invalid { box-shadow:none; }
  }


  
.login-page {
    width: 560px;
    padding: 8% 0 0;
    margin: auto;
  }
  .index-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 560px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .index-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
  }
  .index-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .index-form button:hover,.index-form button:active,.index-form button:focus {
    background: #43A047;
  }
  .index-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 18px;
  }
  .index-form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .index-form .register-form {
    display: none;
  }
  
  